<div id="weather-details">
    <table>
        <tr>
            <td>Temp: {{Temp}}</td>
            <td>Humidity: {{Humidity}}</td>
        </tr>
        <tr>
            <td>Min Temp: {{Min_Temp}}</td>
            <td>Pressure: {{Pressure}}</td>
        </tr>
        <tr>
            <td>Max Temp: {{Max_Temp}}</td>
            <td>Wind Speed: {{Wind_Speed}}</td>
        </tr>
    </table>
</div> 