<!-- Example single danger button -->
<p>
<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{DefaultChildName}}
  </button>
  <div class="dropdown-menu">
      {{#each children}}
    {{!-- <a class="dropdown-item {{status}}" href="#">Action</a> --}}
    {{!-- <a class="dropdown-item {{status}}" href="#">Another action</a> --}}
    {{!-- <a class="dropdown-item {{status}}" href="#">Something else here</a> --}}
  </div>
</div>
</p>


<button type="button" id="add-child-btn" class="btn btn-primary">Add child</button>
<div class="row">
    <div class="col-8 align-self-left">
        <form id="name-birthdate-entry-form">
            <div class="form-group">
                <div class="row mt-2" id='baby-name-birthdate-form-entry'>
                    <div class="col-3">
                        <label for="exampleInputEmail1">Child's Name</label>
                        <input type="text" class="form-control" id="babyInputName" aria-describedby="babyNameHelp" placeholder="Enter child's name">
                        <small id="babyNameHelp" class="form-text text-muted">Child's name</small>
                    </div>
                    <div class="col-3">    
                        <label for="exampleInputEmail1">Birthdate</label>
                        <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                            <input type="text" placeholder={{currDate}} class="form-control datetimepicker-input" data-target="#datetimepicker4" 
                            data-toggle="tooltip" data-placement="top" title="mm/dd/yyyy"/>
                            <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                        <small id="babyBirthdateHelp" class="form-text text-muted">Child's birthdate</small>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
        
        <form id="height-weigh-entry-form" >
            <div class="form-group">
                <div class="row mt-5" >
                    <div class="col-3 allownumericwithdecimal">
                        <label for="Height">Height</label>
                        <input type="number" min='0' max='100' step='.1' class="form-control" id="heightInput" aria-describedby="heightHelp" placeholder="Enter height">
                        <small id="heightHelp" class="form-text text-muted">Child's height</small>
                    </div>
                    <div class="col-3 allownumericwithdecimal">
                        <label for="Weight">Weight</label>
                        <input type="number" class="form-control" min='0' max='100' step='.1' id="weightInput" placeholder="Enter weight" aria-describedby="weightHelp">
                        <small id="weightHelp" class="form-text text-muted">Child's weight</small>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col">
                        <div id="height_chart"></div>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col">
                        <div id="weight_chart"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-4 ">
        <img src="/images/baby2.png" class="img-responsive" alt="Responsive image">
    </div>
</div>



