    <div id="Weather">
        <h1>{{weather}}</h1>
   
        <div id="city">{{city}}</div>
        <div id="temp">{{temp}}</div>
        <div id="humidity">{{humidity}}</div>
        <div id="temp_min">{{temp_min}}</div>
    </div> 