<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id='weather-description'> 
    <img id="weather-icon" src="{{weather-icon}}" align="middle">
    Description
</div>

<br/>

<ul id="temp-data">
    <li>Outside Temp: {{outside_temp}}</li>
    <li>Outside Humidity: {{outside_humidity}}</li>
    <li>Inside Temp: {{inside_temp}}</li>
    <li>Inside Humidity: {{inside_humidity}}</li>
</ul>
